.about-me__box {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

@media (max-width: 650px) {
    .about-me__box  {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .about-me__box {
        margin-top: 60px;
    }
}