.burger-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 520px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #202020;
    transform: translateX(100%);
    transition: transform 0.2s ease;
    padding-top: 159px;
    padding-bottom: 90px;
}