.techs__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 26px;
}

@media (max-width: 780px) {
    .techs__text {
        font-size: 12px;
        line-height: 18px;
        margin-top: 22px;
    }
}
  
@media (max-width: 400px) {
    .techs__text {
        font-size: 11px;
        line-height: 16px;
        margin-top: 24px;
    }
}