.about-me__name {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 18px;
}

@media (max-width: 780px) {
    .about-me__name {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }
}
  
@media (max-width: 400px) {
    .about-me__name {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }
}