.movies-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 364px);
    justify-content: center;
    gap: 30px 24px;
}

@media (max-width: 980px) {
    .movies-card-list {
        grid-template-columns: repeat(auto-fill, 310px);
        gap: 26px 20px;
    }
}

@media (max-width: 780px) {
    .movies-card-list {
        grid-template-columns: repeat(auto-fill, 339px);
        gap: 36px 30px;
    }
}

@media (max-width: 400px) {
    .movies-card-list {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 16px;
    }
}