.search-form__button {
    background: url(../../../images/buttonsearch.png) no-repeat 50%;
    border: none;
    width: 34px;
    height: 34px;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    transition: opacity 0.2s ease;
    outline: none;
    background-color: #4285F4;
    border-radius: 48px;
    margin-right: 19px;
}
.search-form__button:hover {
    opacity: 0.6;
}