.search-form__input {
    width: 100%;
    background: transparent;
    border: none;
    outline:none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.search-form__input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}
