.techs__list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

/* @media (max-width: 780px) {
    .techs__list {
        padding-top: 83px;
    }
}
  
@media (max-width: 400px) {
    .techs__list {
        padding-top: 50px;
    }
} */