.profile__title {
    margin: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 123px;
}

@media (max-width: 780px) {
    .profile__title {
        margin-bottom: 96px;
    }
}
  
@media (max-width: 470px) {
    .profile__title {
        margin-bottom: 80px;
    }
}