.filter-check-box {
   height: 40px;
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 226px;
   margin-left: 29px;
}

@media (max-width: 700px) {
   .filter-check-box {
       position: absolute;
       top: 138px;
   }
}