.profile__signout {
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    text-decoration: none;
    transition: opacity 0.2s ease;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__signout:hover {
    opacity: 0.6;
}