.search-form__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 913px;
    border-right: 1px solid #505050;
}

@media (max-width: 700px) {
    .search-form__form {
        border-right: none;
    }
}