.navtab__text {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 36px;
    margin-bottom: 146px;
    opacity: 0.5;
    width: 260px;
}

@media (max-width: 780px) {
    .navtab__text {
        margin-top: 22px;
        text-align: center;
    }
}
  
@media (max-width: 400px) {
    .navtab__text {
        margin-top: 24px;
        margin-bottom: 80px;
    }
}